.hero-section {
  background-image: url(https://cdn.pixabay.com/photo/2016/08/11/02/23/massage-therapy-1584711_1280.jpg); 
  color: #6D4C3D; 
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

.hero-button {
  background-color: #f4bf75 !important; 
  border: none !important;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  color: #6D4C3D !important;
  font-weight: bold !important;
  border-radius: 30px !important;
  transition: all 0.4s ease;
}

.hero-button:hover {
  background-color: #6D4C3D;
  transform: scale(1.2);
  color: #F5F5DC;
  box-shadow: 0 0 10px rgba(244, 191, 117, 0.6);
}
