body {
  background-color: #0d0d0d !important; 
  color: #f5f5f5 !important;
  font-family: 'Poppins', sans-serif !important;
}
.navbar {
  background: linear-gradient(90deg, #1c1c1c, #3a3a3a) !important;
  border-bottom: 2px solid #e50914 !important ; 
}

.navbar-brand {
  font-weight: bold !important;
  font-size: 1.5rem;
  color: #e50914 !important;
}
.form-control {
  background-color: #1c1c1c !important;
  color: #fff !important;
  border: 1px solid #e50914 !important;
}

.form-control::placeholder {
  color: #aaa !important ;
}


.card {
  background-color: #1c1c1c !important;
  border: none;
  box-shadow: 0 10px 12px rgba(229, 9, 20, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.5);
  box-shadow: 0 6px 20px rgba(229, 9, 20, 0.6);
}

.card-title {
  color: #e50914 !important;
  font-weight: bold !important;
}

.card-text {
  color: #ccc !important;
}
.btn-primary {
  background-color: #e50914 !important;
  border: none !important;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #b20710 !important;
}

.btn-danger {
  background-color: #ff3c3c;
  border: none;
}

.btn-danger:hover {
  background-color: #cc2f2f;
}

.btn-warning {
  background-color: #f5c518;
  border: none;
  color: #000;
}

.btn-warning:hover {
  background-color: #d4a514;
}

form label {
  color: #e50914;
  font-weight: 500;
}

form input, form textarea {
  background-color: #1c1c1c !important;
  color: #fff !important;
  border: 1px solid #e50914 !important;
}
