.navbar{
    background-color:rgb(11, 11, 1);
    
}
.nav-link:hover {
  color: #F5F5DC!important;
  text-shadow: 0px 0px 5px rgba(175, 232, 236, 0.6);
}
.nav-link{
    color:#6D4C3D !important;
    font-size: 20px !important;
}
.logo{
    transition: all 0.3s ease;
}
.logo:hover{
    transform: rotateY('60');
}